{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Partenaires{% endblock %}

{% block main %}

    <main class="partners">
    
        <h1>Partenaires</h1>

        <div class="container">
            <div class="historic-partner">
                <h2>Partenaire historique</h2>
                <div class="img-container">
                    <a href="https://villeparisis.fr/" target="_blank">
                        <img src="{{ asset("assets/img/logo-villeparisis.png") }}" alt="logo officiel de la ville de Villeparisis">
                    </a>
                </div>
            </div>
            <div class="sport-partners">
                <h2>Partenaires sportifs</h2>
                <div class="img-container">
                    <a href="https://www.lifb.org/" target="_blank">
                        <img src="{{ asset("assets/img/logo-lifb.png") }}" alt="logo officiel de la Ligue Ile de France de Badminton">
                    </a>
                    <a href="https://www.ffbad.org" target="_blank">
                        <img src="{{ asset("assets/img/logo-ffbad.png") }}" alt="logo officiel de la Fédération Française de Badminton">
                    </a>
                    <a href="http://www.cobad77.fr/cb77/" target="_blank">
                        <img src="{{ asset("assets/img/logo-cobad77.png") }}" alt="logo officiel du Comité Départemental de la Seine-et-Marne de Badminton">
                    </a>
                </div>
            </div>
            <div class="technical-partner">
                <h2>Partenaire tehcnique</h2>
                <div class="img-container">
                    <a href="https://www.decathlon.fr/" target="_blank">
                        <img src="{{ asset("assets/img/logo-decathlon.png") }}" alt="logo officiel de la société Décathlon, dont l'instance de Pontault-Combault est partenaire de notre club">
                    </a>
                </div>
            </div>
            <div class="become-partner">
                <h2>Vous aussi devenez "Partenaire officiel" du club !</h2>
                <div class="text">
                    <p>
                        Vous êtes une entreprise ? Un particulier ?
                    </p>
                    <p>
                        Demandez notre <strong>dossier de partenariat</strong> et soutenez l’USMV Badminton en rélisant une opération de sponsoring / mécénat !
                    </p>
                    <p>
                        Cliquez sur le lien <strong>Nous contacter</strong> en pied de page pour remplir notre formulaire de contact…
                    </p>
                </div>
            
            </div>
        </div>
    
    </main>

{% endblock %}