<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title>{% block title %}USMV Badminton{% endblock %}</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>

        <header class="header-mobile">
            <div class="header-container">
                <div class="header-content">
                    <a href="{{ path("app_homepage_index") }}">
                        <img src="/assets/img/logo-club.png" alt="logo du club">
                    </a>
                </div>
                <div class="header-content">
                    <button class="btn btn-menu" id="menuButton">Menu</button>
                </div>
                
            </div>

            {# <nav class="nav-mobile" draggable="true"> #}
            <nav class="nav-mobile">
                <div class="nav-container">
                    <div class="line"></div>
                    {# <div class="profile-icons"> #}
                        {# <a href="#"><i class="fa-solid fa-user"></i></a> #}
                        {# <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a> #}
                    {# </div> #}
                    <ul class="menu">
                        <li><a href="{{ path("app_homepage_index") }}">Accueil</a></li>
                        <li class="tab">Le club
                            <ul class="sub-menu">
                            {# <ul class="sub-menu" id="subMenu1" style="display:none;"> #}
                                <div class="sub-menu-header">
                                    <i class="fa-solid fa-circle-chevron-left backButton"></i>
                                    <span>Le club</span>
                                </div>
                                <li><a href="{{ path("app_club_introduction") }}">Présentation</a></li>
                                <li><a href="{{ path("app_club_contributors") }}">Acteurs du club</a></li>
                                <li><a href="{{ path("app_club_gym") }}">Gymnases</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path("app_membership_index") }}">Inscription</a></li>
                        <li class="tab">Jeunes
                            <ul class="sub-menu">
                                <div class="sub-menu-header">
                                    <i class="fa-solid fa-circle-chevron-left backButton"></i>
                                    <span>Jeunes</span>
                                </div>
                                <li><a href="{{ path("app_youths_infos") }}">Créneaux / Infos pratiques</a></li>
                                <li><a href="{{ path("app_youths_school") }}">L'école de badminton</a></li>
                                <li><a href="{{ path("app_youths_sportSection") }}">La section sportive (collège)</a></li>
                                <li><a href="{{ path("app_youths_tournamentForm") }}">Demande d'inscription à un tournoi</a></li>
                                <li><a href="{{ path("app_youths_tournamentsList") }}">Compétitions jeunes</a></li>
                            </ul>
                        </li>
                        <li class="tab">Compétitions
                            <ul class="sub-menu">
                                <div class="sub-menu-header">
                                    <i class="fa-solid fa-circle-chevron-left backButton"></i>
                                    <span>Compétitions</span>
                                </div>
                                <li><a href="{{ path("app_competitions_infos") }}">Créneaux / Infos pratiques</a></li>
                                <li><a href="{{ path("app_competitions_trainings") }}">Entraînements</a></li>
                                <li><a href="{{ path("app_competitions_badtour") }}">Tournois "BadTour"</a></li>
                                <li><a href="{{ path("app_competitions_interclubs") }}">InterClubs / Équipes</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path("app_leisures_index") }}">Loisirs</a></li>
                        <li><a href="{{ path("app_partners_index") }}">Partenaires</a></li>
                        <li><a href="#">Liens</a></li>
                    </ul>
                </div>
            </nav>

        </header>

        <header class="header-desktop">
            <nav class="nav-desktop">
                <a class="nav-logo" href="{{ path("app_homepage_index") }}">
                    <img src="/assets/img/logo-club.png" alt="logo du club">
                </a>
                <ul class="menu">
                    <li><a href="{{ path("app_homepage_index") }}">Accueil</a></li>
                    <li>Le Club
                        <ul class="sub-menu">
                            <li><a href="{{ path("app_club_introduction") }}">Présentation</a></li>
                            <li><a href="{{ path("app_club_contributors") }}">Acteurs du club</a></li>
                            <li><a href="{{ path("app_club_gym") }}">Gymnases</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path("app_membership_index") }}">Inscription</a></li>
                    <li>Jeunes
                        <ul class="sub-menu">
                            <li><a href="{{ path("app_youths_infos") }}">Créneaux / Infos pratiques</a></li>
                            <li><a href="{{ path("app_youths_school") }}">L'école de badminton</a></li>
                            <li><a href="{{ path("app_youths_sportSection") }}">La section sportive (collège)</a></li>
                            <li><a href="{{ path("app_youths_tournamentForm") }}">Demande d'inscription à un tournoi</a></li>
                            <li><a href="{{ path("app_youths_tournamentsList") }}">Compétitions jeunes</a></li>
                        </ul>
                    </li>
                    <li>Compétitions
                        <ul class="sub-menu">
                            <li><a href="{{ path("app_competitions_infos") }}">Créneaux / Infos pratiques</a></li>
                            <li><a href="{{ path("app_competitions_trainings") }}">Entraînements</a></li>
                            <li><a href="{{ path("app_competitions_badtour") }}">Tournois "BadTour"</a></li>
                            <li><a href="{{ path("app_competitions_interclubs") }}">InterClubs / Équipes</a></li>
                        </ul>
                    </li>
                    <li class="tablet-responsive"><i class="fa-solid fa-ellipsis"></i>
                        <ul class="other-links">
                            <li><a href="{{ path("app_leisures_index") }}">Loisirs</a></li>
                            <li><a href="{{ path("app_partners_index") }}">Partenaires</a></li>
                            <li><a href="#">Liens</a></li>
                        </ul>
                    </li>
                    <li class="desktop-responsive"><a href="{{ path("app_leisures_index") }}">Loisirs</a></li>
                    <li class="desktop-responsive"><a href="{{ path("app_partners_index") }}">Partenaires</a></li>
                    <li class="desktop-responsive"><a href="#">Liens</a></li>
                </ul>
                {# <div class="profile-icons"> #}
                    {# <a href="#"><i class="fa-solid fa-user"></i></a> #}
                    {# <a href="#"><i class="fa-solid fa-right-from-bracket"></i></a> #}
                {# </div> #}
            
            </nav>
        </header>

        {% block main %}{% endblock %}
        
        <footer>
            <ul>
                <li>Nous contacter</li>
                <li>Plan du site</li>
                <li>Mentions légales</li>
                <li>Écrire au webmaster</li>
                <li><a href="{{ path("app_security_login") }}">Se connecter à l'espace admin</a></li>
            </ul> 
            <div class="networks-icon">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <p>Copyright © 2022 USMV Badminton</p>
        </footer>
    {% block js %}{% endblock %}
        <script src="/js/header.js"></script>
    </body>
</html>

