{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - {{article.title}}{% endblock %}

{% block main %}

<main>
  <article class="article article-details">
    <div class="btn-container">
      <a class="btn btn-level2" href="{{ path("app_homepage_displayAllArticles") }}">Voir tous les articles</a>
    </div>
      <h1>{{article.title}}</h1>
      <div class="article-datetime">
        {% if article.updatedAt is empty %}
          le {{article.createdAt|date("d/m/y \à G:i", "Europe/Paris")}}
        {% elseif article.updatedAt > article.createdAt %}
          le {{article.updatedAt|date("d/m/y \à G:i", "Europe/Paris")}}
        {% else %}
          le {{article.updatedAt|date("d/m/y \à G:i", "Europe/Paris")}}
        {% endif %}
      </div>
      <div class="img-container">
        <img src="{{article.mainImageUrl}}" alt="illustration de {{article.title}}">
      </div>
      <p>{{article.content}}</p>
      <div class="additional-img">
        {% if article.firstAdditionalImageUrl != null %}
          <img src="{{article.firstAdditionalImageUrl}}" alt="image secondaire de l'article {{article.title}}">
        {% endif %}
        {% if article.secondAdditionalImageUrl != null %}
          <img src="{{article.secondAdditionalImageUrl}}" alt="image secondaire de l'article {{article.title}}">
        {% endif %}
        {% if article.thirdAdditionalImageUrl != null %}
          <img src="{{article.thirdAdditionalImageUrl}}" alt="image secondaire de l'article {{article.title}}">
        {% endif %}
      </div>
      <div class="btn-container">
        <a class="btn btn-level2" href="{{ path("app_homepage_displayAllArticles") }}">Voir tous les articles</a>
      </div>
  </article>
</main>

{% endblock %}