{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block main %}

    <main class="homepage">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

        <h1>Bienvenue à l'USMV Badminton</h1>

        <div class="container">

            <section class="news">
                <h2>À la une</h2>

                <div class="carousel swiper mySwiper" id="newsCarousel">
                    <div class="swiper-wrapper">
                        {% for article in articles %}
                            <div class="card swiper-slide">
                                    <a href="{{ path("app_homepage_displayOneArticle", {"id": article.id}) }}">
                                        <div class="card-title">
                                            <h3>{{article.title}}</h3>
                                        </div>
                                        <img src="{{article.mainImageUrl}}" alt="Image principale de l'article : {{ article.title }}">
                                    </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="btn-container">
                    <a class="btn btn-level2" href="{{ path("app_homepage_displayAllArticles") }}">Voir tous les articles</a>
                </div>
            </section>

            <section class="facebook-extract">
                <iframe src=""  style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture"></iframe>
            </section>

            <section class="events-extract">
                <h2>Calendrier</h2>
                <div class="events">
                    {% for event in events %}
                        <a href="{{ path("app_homepage_displayOneEvent", {id: event.id}) }}" class="event">
                        {% set trans_day_hash = {
                            "Monday": "Lun",
                            "Tuesday": "Mar",
                            "Wednesday": "Mer",
                            "Thursday": "Jeu",
                            "Friday": "Ven",
                            "Saturday": "Sam",
                            "Sunday": "Dim"
                            }
                        %}
                            <div class="event-date">
                                <span>{{ trans_day_hash[event.startDate|date("l")] }}</span>
                                <span>{{ event.startDate|date("d/m/y") }}</span>
                            </div>
                            <p class="event-description">
                                <span>{{ event.content }}</span>
                            </p>
                        </a>
                    {% endfor %}
                </div>
                <div class="btn-container">
                    <a href="{{ path("app_homepage_displayAllEvents") }}" class="btn btn-level2">Voir plus</a>
                </div>
            </section>

            <section class="contact-form">
                <h2>Formulaire de contact</h2>
                <p>Pour toute question ou demande de renseigements, merci de renseigner les champs ci-dessous :</p>
                
                <form method="POST" class="form">
                    <div class="form-row">
                        {{ form_label(form.last_name) }}
                        {{ form_widget(form.last_name) }}
                        {{ form_errors(form.last_name)}}
                    </div>
                    <div class="form-row">
                        {{ form_label(form.first_name) }}
                        {{ form_widget(form.first_name) }}
                        {{ form_errors(form.first_name)}}
                    </div>
                    <div class="form-row">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email)}}
                    </div>
                    <div class="form-row">
                        {{ form_label(form.recipient) }}
                        {{ form_widget(form.recipient) }}
                        {{ form_errors(form.recipient)}}
                    </div>
                    <div class="form-row">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message)}}
                    </div>
                    <div class="form-row">
                        <div class="send-copy">
                            {{ form_label(form.sendCopy) }}
                            {{ form_widget(form.sendCopy) }}
                            {{ form_errors(form.sendCopy)}}
                        </div>
                        <div class="btn-container">
                            <button type="submit" class="btn btn-level1">Envoyer</button>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </form>

            </section>

        </div>
    </main>

{% endblock %}

{% block js %}
    <script src="/js/homepage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "cards",
        grabCursor: true,
        loop: true,
        autoplay: {
          delay: 2000,
            disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
{% endblock %}
