{% extends 'base.html.twig' %}

{% block title %}USMV Badminton - Accueil{% endblock %}

{% block main %}

    <h1>Bienvenue à l'USMV Badminton</h1>

    <section class="news">
        <h2>À la une</h2>
        <div class="carousel">
            <div class="article-carousel-view main-article">
                <a href="{{ path("app_homepage_displayArticle", {"id": articles[0].id}) }}">
                    <h3>{{articles[0].title}}</h3>
                    <img src="{{articles[0].urlImageMain}}" alt="illustration de {{articles[0].title}}">
                </a>
            </div>
            <div class="article-carousel-view pending-articles">
                {% for article in articles | slice(1) %}
                    <a href="{{ path("app_homepage_displayArticle", {"id": article.id})}}">
                        <h3>{{article.title}}</h3>
                        <img src="{{article.urlImageMain}}" alt="">
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="facebook-extract"></section>
    <section class="calendar"></section>
    <section class="contact-form"></section>

{% endblock %}
